<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EasyRunServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LoginServer</servlet-name>
    <servlet-class>
			gcc.servlet.LoginServer
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServer</servlet-name>
    <url-pattern>/LoginServer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MarathonRegister</servlet-name>
    <servlet-class>
			gcc.servlet.MarathonRegister
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarathonRegister</servlet-name>
    <url-pattern>/MarathonRegister</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>MarathonRegister2</servlet-name>
    <servlet-class>
			gcc.servlet.MarathonRegister2
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarathonRegister2</servlet-name>
    <url-pattern>/MarathonRegister2</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>MarathonRegister3</servlet-name>
    <servlet-class>
			gcc.servlet.MarathonRegister3
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarathonRegister3</servlet-name>
    <url-pattern>/MarathonRegister3</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterBase</servlet-name>
    <servlet-class>
			gcc.servlet.RegisterBase
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBase</servlet-name>
    <url-pattern>/RegisterBase</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterBase2</servlet-name>
    <servlet-class>
			gcc.servlet.RegisterBase2
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBase2</servlet-name>
    <url-pattern>/RegisterBase2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FindFreePicture</servlet-name>
    <servlet-class>
			gcc.servlet.FindFreePicture
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindFreePicture</servlet-name>
    <url-pattern>/FindFreePicture</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>UploadforUser1</servlet-name>
    <servlet-class>
			gcc.servlet.UploadforUser1
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadforUser1</servlet-name>
    <url-pattern>/UploadforUser1</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>UploadforUser2</servlet-name>
    <servlet-class>
			gcc.servlet.UploadforUser2
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadforUser2</servlet-name>
    <url-pattern>/UploadforUser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadShopPic</servlet-name>
    <servlet-class>
			gcc.servlet.UploadShopPic
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadShopPic</servlet-name>
    <url-pattern>/UploadShopPic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetClothesPageResource</servlet-name>
    <servlet-class>
			gcc.servlet.GetClothesPageResource
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClothesPageResource</servlet-name>
    <url-pattern>/GetClothesPageResource</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>UploadforMaster</servlet-name>
    <servlet-class>
			gcc.servlet.UploadforMaster
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadforMaster</servlet-name>
    <url-pattern>/UploadforMaster</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>FindPicture</servlet-name>
    <servlet-class>
			gcc.servlet.FindPicture
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPicture</servlet-name>
    <url-pattern>/FindPicture</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <servlet-name>MoneyEnough</servlet-name>
    <servlet-class>
			gcc.servlet.MoneyEnough
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyEnough</servlet-name>
    <url-pattern>/MoneyEnough</url-pattern>
  </servlet-mapping>
  
          <servlet>
    <servlet-name>BuyPicture</servlet-name>
    <servlet-class>
			gcc.servlet.BuyPicture
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyPicture</servlet-name>
    <url-pattern>/BuyPicture</url-pattern>
  </servlet-mapping>
  
            <servlet>
    <servlet-name>GetEventPageResource</servlet-name>
    <servlet-class>
			gcc.servlet.GetEventPageResource
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventPageResource</servlet-name>
    <url-pattern>/GetEventPageResource</url-pattern>
  </servlet-mapping>
  
  
            <servlet>
    <servlet-name>GetEventPageResourceRegistered</servlet-name>
    <servlet-class>
			gcc.servlet.GetEventPageResourceRegistered
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventPageResourceRegistered</servlet-name>
    <url-pattern>/GetEventPageResourceRegistered</url-pattern>
  </servlet-mapping>
  
  

</web-app>